html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}


body{
    /*This is for color */
    background:#1f232c;
    color: aliceblue;
}

header {
	width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float * Controla para que el texto no se salga del cuadro asignado */ 
	background:#252932;
	margin-bottom:20px; /* Espacio fuera de la caja */
}

.wrapper {
	width:90%; /* Establecemos que el ancho sera del 90% */
	max-width:1000px; /* Aqui le decimos que el ancho máximo sera de 1000px */
	margin:auto; /* Centramos los elementos */
	overflow:hidden; /* Eliminamos errores de float */
}

header .logo {
	color:#f2f2f2;
	font-size:40px;/*Tamaño de la letra */
	line-height:70px;
	float:left;
}

header nav {
	float:right;
	line-height:50px; /*Salto entr las lineas*/
}

header nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

header nav a:hover {
    background: #f56f3a;
	border-radius:50px;
}


.header2 {
	position: fixed;
	height:100px;
}

.header2 .logo {
	line-height:100px;
	font-size:30px;
}

.header2 nav {
	line-height:90px;
}

/*This is for the text */
.texto{
    
    font-size: 22px;
}

.text{
    padding-top: 5px;
    margin-top: 5px;

}

.link {
    color: #fff;
	text-decoration:none;/* Quita el el subraya miento del a o enlace */
    background:#252932;
	border-radius:10px;
    display:inline-block; /*Coloca los div verticalmente para que estan a la derecha*/
	text-decoration:none; /*Quita la decoracion*/ 
	padding:5px ; 
	font-size:20px;
	font-weight:bold; 
    line-height:20px;
    margin: 5px;
    width: 90%;
}
.link2{
	text-decoration: none;
	line-height: 10px;
	color: #fff;
    display:inline-block; /*Coloca los div verticalmente para que estan a la derecha*/
    width: 99%;
	height: 100%;
	padding:5px ; 
	font-weight:bold; 
    line-height:20px;
    margin: 0px;
}


.link :hover{ /*Cudo se selecciona el div*/
	background: #f56f3a; /*Fondo al undir */
	border-radius:10px;/*Bordes */
    color: #fff;
	font-size:20px;
	font-weight:bold; /*Tipo de letra o ancho de la letra*/
    padding-top: 5px; /*  Espascio por fuera de la caja */
    margin-top: 5px; /* Mn arriba de la caja */
    line-height:20px;  

}


@media screen and (max-width: 950px) {
	header .logo,
	header nav {
		width:100%;
		text-align:center; /*Centramos el menu y el logotipo*/
		line-height:40px;

	}

	.header2 {
		height:auto;
	}

	.header2 .logo,
	.header2 nav {
		line-height:50px;
	}
}


